@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  overflow-x: hidden;
}

.CategoryBox::-webkit-scrollbar {
  appearance: none;
  height: 5px;
  width: 300px;
}

.CategoryBox::-webkit-scrollbar-thumb {
  height: 3px;
  border-radius: 5px;
  background-color: gray;
}

body {
  background-color: #f3f2fa;
}
